channels_redis
asgiref
attrs
autobahn
Automat
certifi
channels
chardet
constantly
daphne
defusedxml
Django==3.2.7
django-allauth
django-appconf
django-redis
django-select2
djangorestframework
idna
incremental
jsonfield
msgpack-python
oauthlib
python3-openid
pytz
redis
requests
psycopg2-binary
requests-oauthlib
six
stripe
tinys3
zope.interface
cryptography>3.2
